<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>io.thesis.collector.client - start</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <h3>collector-client</h3>
    <hr/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>client details</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tr>
            <td>client time</td>
            <td th:text="${indexPage.serverTime}">1234</td>
        </tr>
        <tr>
            <td>host</td>
            <td th:text="${indexPage.hostName}">1234</td>
        </tr>
        <tr>
            <td>address</td>
            <td th:text="${indexPage.hostAddress}">1234</td>
        </tr>
        <tr>
            <td>consul instance id</td>
            <td th:text="${indexPage.instanceId}">1234</td>
        </tr>
    </table>


</div>
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>