<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>io.thesis.collector.client - start</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <h3>io.thesis.collector.client</h3>
    <p th:text="'client time: ' + ${indexPage.serverTime}">time</p>
    <p th:text="'host: ' + ${indexPage.hostName} + ', address: ' + ${indexPage.hostAddress} ">host, address</p>
    <hr/>
</div>
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>